streamlit
opencv-python-headless
torch
torchvision
pandas
Pillow
numpy
matplotlib
PyYAML
tqdm
jupyter
scikit-learn
# pull YOLOv5 code (detect.py) during build:
git+https://github.com/ultralytics/yolov5.git
